# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Virtual env
.venv/
env/
venv/

# Build / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/
.cache/
.pytest_cache/

